//-
   Created by Vunb on 1/12/2014.

footer(role='contentinfo')
   nav
      ul
         li
            a(ui-sref='about.team', title='About Team') Team
         li
            a(ui-sref='about.privacy', title='Legal, Privacy, Contact links') Privacy
         li
            a(ui-sref='about.terms', title='Legal, Privacy, Contact links') Terms
         li
            a(href='mailto:vunb@bkindex.com', title='Email us') Email
         li
            a(href='//twitter.com/Vusnail', title='Room43 on Twitter') @twitter
