extends layout
block head
    title Room43.in
    meta(name='description', content='Room43.in - Group video chat and screen sharing. A video meeting system without the need to install any plugins.')
    //- Stylesheets
    link(rel='stylesheet', href='/fonts/font1.css')
    link(rel='stylesheet', href='/css/site.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css')
    //- Local Vendor Scripts
    script(type="text/javascript", src="/vendor/jquery-2.1.1/jquery.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    //- Angular Scripts
    script(type="text/javascript", src="/vendor/angular-1.2.19/angular.min.js")
    script(type="text/javascript", src="/vendor/angular-ui-router-0.2.8/angular-ui-router.min.js")
    //- CDN Scripts
        script(type="text/javascript", href='/bower_components/ng-clip/dest/ng-clip.min.js')
        script(type="text/javascript", href='/bower_components/zeroclipboard/dist/ZeroClipboard.min.js')

    //- Application Scripts
        script(type="text/javascript", src="/js/site.js")
    script(type="text/javascript", src="/js/rtc.min.js")
    //- script(type="text/javascript", src="/js/site.min.js")
    script(type="text/javascript", src="/scripts/app/app.js")
    script(type="text/javascript", src="/scripts/app/services/webrtc.js")
    script(type="text/javascript", src="/scripts/app/services/guid.js")
    script(type="text/javascript", src="/scripts/app/services/fluidGrid.js")
    script(type="text/javascript", src="/scripts/app/services/soundEffectManager.js")
    script(type="text/javascript", src="/scripts/app/services/sounds.js")
    script(type="text/javascript", src="/scripts/app/controllers/Home.js")
    script(type="text/javascript", src="/scripts/app/controllers/Room.js")
    script(type="text/javascript", src="/scripts/app/controllers/Info.js")
    script(type="text/javascript", src="/scripts/app/directives/Mouse.js")
    script(type="text/javascript", src="/scripts/app/directives/Screen.js")
    script(type="text/javascript", src="/scripts/app/directives/screenshare.js")
    script(type="text/javascript", src="/vendor/eyes.js")

block content
    body.landing(ng-app="videoconference")
        noscript
            p This page requires JavaScript and a modern browser to function correctly.
        .container.wrapper(data-ui-view)

        //- Partial views... Load up front to make transitions smoother
        script(type="text/ng-template", id="home")
            include partials/home
        script(type="text/ng-template", id="room")
            include partials/room
        script(type="text/ng-template", id="about.index")
            include about/index
        script(type="text/ng-template", id="about.team")
            include partials/info/team

        //- Directive templates
        script(type="text/ng-template", id="styled-checkbox.html")
            include partials/styledcheckbox
