//-
   Created by Vunb on 9/9/2014.
extends ../layout
block head
    title Snailcom | Truly video chat for groups


block content
    div.landing.content-wrapper.error-page
        h1.header-title Your browser is currently not supported
        div.body
            p.error-message.
                Don't worry, there is an easy fix.
                Click on one of the logos below and follow the instructions.
                And come back with us!
        div.browsers
            div.images
                a(class="browser-link", href="http://chrome.google.com/")
                    img(height="128", width="128" src="/images/browsers/chrome-logo.png", border="0")
                a(class="browser-link", href="http://www.mozilla.org/firefox/all")
                    img(height="128", width="128" src="/images/browsers/firefox-logo.png", border="0")
                a(class="browser-link", href="http://www.mozilla.org/firefox/all")
                    img(height="128", width="128" src="/images/browsers/opera-logo.png", border="0")
